.search_container{
  background-color: #2a377e;
  height: 70px;
  box-shadow: 0 5px 8px -2px rgba(0,0,0,.25);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* nome do estado */

.search_dropdown{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search_dropdown p {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 5px 0 5px;
}

.search_icon_arrow{
  font-size: 1.8em;
  cursor: pointer;
}

.search_icon_map{
  font-size: 1.4em;
}

/* input geral */


.search_button{
  background-color: #181d40;
  color: white;
  border: none;

  width: 50px;
  height: 50px;

  border-radius: 40%;
  cursor: pointer;
  font-size: 1.2em;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  height: 40% !important;
}